# ===== FRONTEND Configuration =====
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_ENV=development

# ===== SEPAY CONFIGURATION =====
REACT_APP_SEPAY_BANK_CODE=MBBank
REACT_APP_SEPAY_ACCOUNT=your-account-number
